# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, JSX, TypeScript, TSX, JSON
[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2

# CSS, SCSS, LESS
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# HTML, JSX, TSX
[*.{html,jsx,tsx}]
indent_style = space
indent_size = 2

# YAML, MARKDOWN
[*.{yaml,yml,md}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Env files
[.env*]
charset = utf-8
end_of_line = lf
